#newsletter{ 
    top: 5vh;
    width: 80%;
    height: 75vh;
    margin: auto;
    overflow-y: auto;
    border: none;
    border-radius: 0;
    background-color: #16161d;
}

#n-body{
    color: #f5f5f5;
}

#n-header{
    color: #f5f5f5;
    border-radius: 0;
    border:none;
}

#newsletter::-webkit-scrollbar {
    width: 10px;
}

#newsletter::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #5b5e6c; 
}

#newsletter::-webkit-scrollbar-thumb {
    background: #5b5e6c; 
}
#newsletter::-webkit-scrollbar-thumb:hover {
    background:#e1e1e1; 
}

#download {
    border: 1px solid white;
    border-radius: 0;
    cursor: pointer;
    color:white;
    background-color: #16161d;
}

#download:hover{
    background-color: #4c4c4c6b;
}

#d-container{ 
    margin-top: 7vh;
    text-align: center;
}

#n-content {
    text-align: left;
}