<div id="login-container">
    <div id="login-head">
      <div id="head-container"(click)="goToLanding()">
        <div>FitnessNews</div>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create a New Password</h5>
          <form #form='ngForm' ngNativeValidate >
            <div class="form-group">
              <input type="password" name="new-password" class="form-control" id="new-password" aria-describedby="passwordHelp" [(ngModel)]="password" (ngModelChange)="handlePassword($event)" placeholder="Password" required>
              <input style="margin-top: 1rem" type="password" name="confirm-password" class="form-control" id="new-password" aria-describedby="passwordHelp" [(ngModel)]="confirmPassword" (ngModelChange)="handleConfirmPassword($event)" placeholder="Confirm password"required>
            </div>
            <button id="login-button" (click)="handleSubmit($event)">Submit</button>
            <p>{{status}}{{response}}</p>
          </form>
        </div>
      </div>
  </div>
  