<app-navbar></app-navbar>
<div id="newsletter" class="card text-center">
    <div id="n-header" class="card-header">
      <input id="news-header"type="text" placeholder="Header">
    </div>
    <div id="n-body" class="card-body">
        <textarea id="news-content" cols="30" rows="10" placeholder="Content"></textarea>
    </div>
    <div class="card-footer text-muted">
        <input id="news-footer" type="text" placeholder="Footer">
    </div>
</div>
<div id="button-container">
    <div id="upload-newsletter">Upload Newsletter</div>
</div>