<app-navbar></app-navbar>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update Information</h5>
          <form #form='ngForm' ngNativeValidate>
            <div class="form-group">
              <input type="text" name="first-name" class="form-control" id="update-input" placeholder="First Name" [(ngModel)]="firstName" (ngModelChange)="handleFirstName($event)">
            </div>
            <div class="form-group">
                <input type="text" name="last-name" class="form-control" id="update-input" placeholder="Last Name" [(ngModel)]="lastName" (ngModelChange)="handleLastName($event)">
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control" id="update-input" placeholder="Password" [(ngModel)]="password" (ngModelChange)="handlePassword($event)">
              </div>
              <div class="form-group">
                <input type="password" name="confirm-password" class="form-control" id="update-input" placeholder="Confirm Password" [(ngModel)]="confirmPassword" (ngModelChange)="handleConfirmPassword($event)">
              </div>
              <div>
                <button id="sub-button" type="button" (click)="handleClick()">
                  <svg *ngIf="subChecked; else checkBlock" width="50px" height="50px" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                  <ng-template #checkBlock>
                    <svg class="checkmark" width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <path class="checkmark__check" fill="none" d="M16 16 36 36 M36 16 16 36" />
                    </svg>
                  </ng-template>
                  </button>
                  <span style="margin-left: 1rem">Subscribe to Newsletter</span>
              </div>
            <button id="update-button" (click)="handleSubmit($event)">Update</button>
            <div>{{error}}</div>
          </form>
        </div>
      </div>
