.card {
    margin:auto;
    top: 10vh;
    border-radius: 0;
    background-color:#16161d; 
    color: #f5f5f5;
    height: 75vh;
    width: 25rem;
}
.card-title{
    margin-bottom: 8vh;
}
#update-input {
    background-color: #2f2f31;
    border-radius: 0;
    color: #f5f5f5;
}

#update-button {
    margin-top: 5vh;
    border: 1px solid #f5f5f5;
    text-align: center;
    width:30%;
    padding:5px;
    background-color: #2f2f31;
    color: white;
}

#update-button:hover{
    background-color: #434344;
}