#nav{
    background-color: #343436;
    color:#f5f5f5;
}
#p-news:hover, #update-info:hover, #logout:hover, #create-newsletter:hover, #update-newsletter:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #9c5a9c;
    text-underline-offset: 6px;
}

#logo{
    cursor: pointer;
}

