<div id="register-container">
        <div id="register-head">
          <div id="head-container"(click)="goToLanding()">
            <div>FitnessNews</div>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Register</h5>
              <form #form='ngForm' ngNativeValidate>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" id="register-input" aria-describedby="emailHelp" placeholder="Email"[(ngModel)]="email" (ngModelChange)="handleEmail($event)" required>
                </div>
                <div class="form-group">
                  <input type="text" name="first-name" class="form-control" id="register-input" placeholder="First Name" [(ngModel)]="firstName" (ngModelChange)="handleFirstName($event)" required>
                </div>
                <div class="form-group">
                    <input type="text" name="last-name" class="form-control" id="register-input" placeholder="Last Name" [(ngModel)]="lastName" (ngModelChange)="handleLastName($event)" required>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control" id="register-input" placeholder="Password" [(ngModel)]="password" (ngModelChange)="handlePassword($event)" required>
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" class="form-control" id="register-input" placeholder="Confirm Password" [(ngModel)]="confirmPassword" (ngModelChange)="handleConfirmPassword($event)" required>
                  </div>
                <button id="register-button" (click)="handleSubmit($event)">Register</button>
                <div>{{invalid}}</div>
              </form>
            </div>
          </div>
</div>