<div id="register-container">
        <div id="register-head">
          <div id="head-container"(click)="goToLanding()">
            <div>FitnessNews</div>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Register</h5>
              <form #form='ngForm' ngNativeValidate>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" id="register-input" aria-describedby="emailHelp" placeholder="Email"[(ngModel)]="email" (ngModelChange)="handleEmail($event)" required>
                </div>
                <div class="form-group">
                  <input type="text" name="first-name" class="form-control" id="register-input" placeholder="First Name" [(ngModel)]="firstName" (ngModelChange)="handleFirstName($event)" required>
                </div>
                <div class="form-group">
                    <input type="text" name="last-name" class="form-control" id="register-input" placeholder="Last Name" [(ngModel)]="lastName" (ngModelChange)="handleLastName($event)" required>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control" id="register-input" placeholder="Password" [(ngModel)]="password" (ngModelChange)="handlePassword($event)" required>
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" class="form-control" id="register-input" placeholder="Confirm Password" [(ngModel)]="confirmPassword" (ngModelChange)="handleConfirmPassword($event)" required>
                  </div>
                  <div>
                    <button id="sub-button" type="button" (click)="handleClick()">
                      <svg *ngIf="subChecked; else checkBlock" width="50px" height="50px" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                      <ng-template #checkBlock>
                        <svg class="checkmark" width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                          <path class="checkmark__check" fill="none" d="M16 16 36 36 M36 16 16 36" />
                        </svg>
                      </ng-template>
                      </button>
                      Subscribe to Newsletter
                  </div>
                <button id="register-button" (click)="handleSubmit()">Register</button>
                <div>{{invalid}}</div>
              </form>
            </div>
          </div>
</div>