<div id="login-container">
  <div id="login-head">
    <div id="head-container"(click)="goToLanding()">
      <div>FitnessNews</div>
    </div>
  </div>
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form #form='ngForm' ngNativeValidate>
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"[(ngModel)]="email" (ngModelChange)="handleEmail($event)" required>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" (ngModelChange)="handlePassword($event)" required>
          </div>
          <button id="login-button" (click)="handleSubmit($event)">Submit</button>
          <p id="req-pass"><small class="text-muted">Forgot Password</small></p>
          <div id="invalid-pass">{{invalid}}</div>
        </form>
      </div>
    </div>
</div>