<div id="newsletter" class="card text-center">
    <div id="n-header" class="card-header">
      {{newsletter.header}}
    </div>
    <div id="n-body" class="card-body">
        <span class="card-text"><small class="text-muted">{{newsletter.firstname}} {{newsletter.lastname}}</small></span>
        <p class="card-text"><small class="text-muted">{{newsletter.date}}</small></p>
      <p class="card-text">
        {{newsletter.content}}
      </p>
      <a id="download" class="btn">Download</a>
    </div>
    <div class="card-footer text-muted">
      {{newsletter.footer}}
    </div>

  </div>
