<!-- <div (click)="routeToLogin()" id="login-route">Login</div> -->
<div id="landing-container">
    <div id="left">
        <p id="phrase">A place for all your fitness news. Subscribe today to get tips on fitness!</p>
    </div>
    <div id="right">
        <p id="logophrase">FitnessNews</p>
        <div id="landing-login">
            <div class="landing-button-login" (click)="loginPage()">Login</div>
        </div>
        <div id="register">
            <div class="landing-button-reg" (click)="registerPage()">Register</div>
        </div>
    </div>
</div>